body {
	font-family: 'Montserrat', sans-serif;
 height:100%;
}
footer {
  width:100%;
  position:fixed;
  bottom:0
}

img {
  border-radius:10px
}

.app-form label {
	display: block;
	margin: 0px 0px 15px 0px;
}
.app-form label>span {
	width: 100px;
	font-weight: bold;
	float: left;
	padding: 8px 5px 0 0;
}
.app-form span.required {
	color: red;
}
.app-form .tel-number-field {
	width: 40px;
	text-align: center;
}
#brand {
	margin: 6px 0 0 0;
  max-width:500px
}
#brand a {
	color: black !important
}
#brand a:hover {
	color: black !important;
	text-decoration: none
}
a {
	color: darkred !important;
}
a:hover {
	color: gray !important;
}

a.navi {
	color: darkred !important;
}
a.navi:hover {
	color: gray !important;
 text-decoration:none
}

.app-form input.input-field, .app-form .tel-number-field, .app-form .textarea-field, .app-form select.select-field {
	margin: 0 auto 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}
.app-form .radio-field {
	margin: 0 auto 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}
.app-form input.input-field:focus, .app-form .tel-number-field:focus, .app-form .textarea-field:focus, .app-form select.select-field:focus, .app-form .radio-field:focus {
	border: 1px solid darkred;
	-webkit-box-shadow: 0px 0px 1px 1x rgba(139, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 1px 1px rgba(139, 0, 0, 0.5);
	box-shadow: 0px 0px 1px 1px rgba(139, 0, 0, 0.5);
}
.app-form .textarea-field {
	height: 100px;
	width: 55%;
}



.relative {
  position: relative;
}

.page-header {
  margin-top: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .page-nav {
    position: absolute;
    top: 50%;
    right: 0;
  }
  
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.page-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 24px;
}

.modal-footer {
  text-align: center;
}

.panel {
  margin-bottom: 0;
}

.panel-footer {
  text-align:center;
  background-color:transparent;
  border-top:0 !important;
  border-bottom: 1px solid #eee;
}

.panel, .panel-default {
  border:0 !important;
  box-shadow:none !important
}

.btn, .btn-default {
  cursor: pointer;
}

div.btn, div.btn-default {
  cursor: default;
}

div.btn:hover, div.btn-default:hover {
  cursor: default;
  background-color:transparent !important
}

.grid {
  margin-bottom: 40px;
}

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  padding: 10px;
}

@media (min-width: 768px) and (max-width: 989px) {
  .grid-sizer,
  .grid-item {
    width: 33.33333333333333%;
  }
}

@media (min-width: 990px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
}

.profile-icon {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
}

.grid-item .profile-icon {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  float: left;
  margin-right: 6px;
}

.grid-item .panel-footer small {
  line-height: 1.25;
  display: inline-block;
}

.delete-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
}